#top-heading{
    background-color: rgb(8, 8, 246);
    color:white;
    padding-top: 20px;
    padding-bottom: 15px;
    text-align: center;
}

header{
    background-color: rgb(255, 65, 65);
    padding-bottom: 20px;
}

footer{
    padding: 10px;
    background-color: rgb(171, 9, 165);
}

footer>a{
    color: aqua;
}

.link-bar>a{
    background-color: aqua;
    padding: 10px 10px 10px 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    color: rgb(4, 4, 5);
    border: 5px solid black;
}

.article-text{
    font-size: 1.5em;
}

.navlinks:hover{
    background-color: black;
    border-color: aliceblue;
    color: white;
}



.link-bar{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0px;
    width: 100vw;
}

.flex-container{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 20px;

}

.flex-container>article{
    margin: auto;
    margin-top: 20px;
    width: 50vw;
    background-color: aliceblue;
    padding: 15px 15px 10px 15px;
    border-radius: 5%;
}

body{
    background-image: linear-gradient(blue,black);
    margin-left: 0pt;
    margin-right: 0px;
}



.article-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 5px solid black;
}

@media screen and (max-width: 650px) {
    .link-bar>a{
        margin-top: 30px;
        display: list-item;
    }

    .flex-container{
        row-gap: 30;
    }

    .article-image{
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
        width: 150px;
        height: 150px;
    }

    .flex-container>article{
        width: 75vw;
    }
    
  }